<template>
  <require from="../resources/elements/poi-coordinates.html"></require>
  <require from="../resources/elements/poi-description.html"></require>

  <div class="uk-text-center " uk-grid >
    <div class="uk-width-expand@m uk-animation-slide-left">
      <div id="${mapDescriptor.id}" style="height:${mapDescriptor.height}px"></div>
      <div class="uk-card uk-card-default uk-card-body">
        <poi-coordinates poi.one-way="poi"></poi-coordinates>
      </div>
    </div>
    <div class="uk-width-1-3@m uk-animation-slide-right">
      <poi-description poi.one-way="poi"></poi-description>
    </div>
  </div>
</template>
